@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
}
body{ 
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	width:1000px;
	margin:auto;
}
header{
	background-color:#BC8F8F;
	color: black;
	padding: 40px;
	text-align:center;
}
nav{
	background-color:#FFE4E1;
	text-align: center;
	float: left;
	width:150%;
	font-size: 20px;
}
a{
	display: block;
	color: #195A5B;
	padding:20px;
	float: left;
}

a:hover {
	background-color: #FFF0F5;
	color:black;
}
div{
	display: block;
	background-color:#FFCCCC
;
	float: left;
	width: 150px;
	height: 600px;
}
article{
	width: 700px;
	height:500px;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 20px;
	font-size: 18px;
}
footer{
	display: inline-block;
	background-color:#BC8F8F;
	color: black;
	width: 150%;
	padding: 20px;
	text-align: center;
}


